@model IEnumerable<Cinema>
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Cinemas</h2>
        </div>
        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a href="/Admin/Cinema/Create" class="btn btn-success">Add Cinema</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td class="name-cell">@item.Name</td>
                            <td>
                                <img src="~/CinemaImg/@item.Img" width="65" height="65" style="cursor:pointer" onclick="openImageModal(this)">
                            </td>
                            <td>
                                <a href="/Admin/Cinema/Edit?id=@item.Id" type="button" class="btn btn-warning">Edit</a>
                                <a href="/Admin/Cinema/Delete?id=@item.Id" class="btn btn-danger btn-delete">Delete</a>

                            </td>
                        </tr>
                    }
                    <!-- نافذة العرض -->
                    <div id="imgModal" style="display:none; position:fixed; z-index:9999; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.7); text-align:center;">
                        <img id="modalImg" style="margin-top:5%; max-width:80%; max-height:80%; border-radius:8px;">
                    </div>

                    <script>
                        function openImageModal(img) {
                            var modal = document.getElementById("imgModal");
                            var modalImg = document.getElementById("modalImg");
                            modalImg.src = img.src;
                            modal.style.display = "block";
                            modal.onclick = function () {
                                modal.style.display = "none";
                            }
                        }
                    </script>

                </tbody>
            </table>
        </div>
    </div>
</div>