@model ApplicationUser
<div class="row flex-center min-vh-100 py-6">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <a class="d-flex flex-center mb-4" href="../../../index.html"><img class="me-2" src="../../../assets/img/icons/spot-illustrations/falcon.png" alt="" width="58" /><span class="font-sans-serif text-primary fw-bolder fs-4 d-inline-block">Cinema</span></a>
        <div class="card">
            <div class="card-body p-4 p-sm-5">
                <h5 class="text-center mb-4 fw-semibold">🔒 Reset Your Password</h5>
                <form class="mt-3" asp-action="ResetPassword">
                    <input type="hidden" name="userId" value="@Model.Id" />
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input class="form-control" type="password" placeholder="New Password" name="Password" />
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" placeholder="Confirm Password" name="ConfirmPassword" />
                    </div>
                    <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Set password</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_NotificationPartial">
}
